{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (.Date.Format (default "January 2, 2006" .Site.Params.DateFormat))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}

{{- if .Params.departments -}}
{{- $scratch.Add "meta" (delimit (apply .Params.departments "partial" "post-department-link" ".") "&amp;") }}
{{- end }}

{{- if .Params.courses -}}
{{- $scratch.Add "meta" (delimit (apply .Params.courses "partial" "post-course-link" ".") "&amp;") }}
{{- end }}

{{- if .Params.instructors -}}
{{- $scratch.Add "meta" (delimit (apply .Params.instructors "partial" "post-instructor-link" ".") "&amp;") }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" -}}
{{- end -}}
